body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(196, 197, 248);
}
h1{
    color:cadetblue;
    background-color:lavender;
    font-size: 250%;
}
header{
    background: #c1e0df;
    text-align: center;
}
nav{
    font-variant: inherit;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    background-color: lemonchiffon;
    font-size: 150;
    font-style:oblique;
}
details{
    font-weight: lighter;
    font-style: italic;
}
ul.counter{
    list-style: none;
  }
  ul.counter li:before {
  content: ''; 
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(https://a.deviantart.net/avatars/y/u/yuyamama.png?5);
  background-size: contain; 
  margin: 1%;
  }
summary{
    font-style: normal;
}
section{
    display: table-cell;
    width: 33%;
}
div{
    display: block;
    width: max-content;
}
footer{
    background-color: rgb(236, 189, 217);
 
}